/*@font-face {
    font-family: fontDefault;
    src: url('file:///android_asset/fonts/Ubuntu-Regular.ttf');
}*/
* {
    padding:0;
    margin:0;
    font-family: fontDefault;
}
p {
    text-align: justify;
    color:#777;
}